@font-face {
    font-family: "Rowdies-Regular";
    src: url(../fonts/Rowdies-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rowdies-Bold";
    src: url(../fonts/Rowdies-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}