:root{
    --color-red: #FF0000;
    --color-blue: #00008B;
    --color-gray: gray;
    --color-black: #000;
    --color-white: #fff;

    --font-family-base: 'Rowdies-Regular';

    --border-radius: .7vw;

    --container-width: 780px;
    --container-padding-x: 165px;

    --transition-duration: .3s;
}